body{
    background-image:image(index3.jpg);
}

.logoheading{
color: white;
height: 70px;
font-size: 30px;
text-align: center;
margin-top: -410px;
margin-left: 150px;
font-family: teko;
z-index: -1;
}

.logo{
    float:left;
    width: 40%;
    margin-top: -60px;
    margin-left: 350px;
    z-index: 1;
}

.vrpic{
    position: fixed;
    float: center;
    margin-top: 0px;
    position: relative;
    
}

.menu{
    background-color: #0D0D0D;
    width: 100%;
    height: 70px;
    margin-top: -10px;
   
}



.icons{
    float: right;
    margin-top: -58px;
    margin-right: -20px;
    cursor: pointer;
    z-index: 1000;
    
    
}

.menubutton{ 
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    background-image:url("Icon .material-icons.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    
    
}

.nav-sidebar{
    font-size: 25px;
    width: 150px;
    background-color: black;
    opacity: 80%;
    z-index: 1000px;
}

ul, li{
    font list-style-type: none;

}

a{
    color: white;
    text-align: center;
    font-family: teko;

}
