body{
    display: block;
    margin: 0;

}


.logoheading{
position: relative;
color: white;
height: 70px;
font-size: 30px;
text-align: center;
margin-top: -330px;
margin-left: 150px;
font-family: teko;
z-index: 5000;
}

.logo{
    float:left;
    width: 40%;
    margin-top: -60px;
    margin-left: 350px;
    z-index: 1;
}

.vrpic{
    float: center;
    position: relative;
    
}

.menu{
    margin-top: 0px;
    background-color: #0D0D0D;
    width: 100%;
    height: 70px;
}


.icons{
    float: right;
    margin-top: -58px;
    margin-right: -20px;
    cursor: pointer;
    z-index: 1000;
}

.menubtn{ 
    position: relative;
    margin-top: -25x;
    margin-left: 30px;
    color: white;
    background-color: #0D0D0D;
    cursor: pointer;
    z-index: 9000;
    size: 50px; 
}

.dropdown-content{
    display: hidden;
    
}
