
.abouttext{
font-family: teko;
font-size: 1.5vw;
text-align: center;
padding: 40px 100px 50px 100px;
color: #0d0d0d;
background-color: white;
opacity: 80%;

}

.book{
border-radius: 20px 20px 20px 20px;
border-color: #FC5D35;
font-size: 2vw;
background-color: white;
color: #0d0d0d;
font-family: teko;
cursor: pointer;
padding: 5px 10px 5px 10px;
z-index: 100;
}

.menubtn{ 
    position: relative;
    margin-top: -35x;
    color: white;
    background-color: #0D0D0D;
    cursor: pointer;
    z-index: 9000;
}

.aboutimg{
  background-image: url("images/about.png");
  z-index: -10000px;
}


