


.book{
border-radius: 20px 20px 20px 20px;
border-color: #FC5D35;
font-size: 2vw;
background-color: white;
color: #0d0d0d;
font-family: teko;
cursor: pointer;
padding: 5px 10px 5px 10px;
z-index: 100;
}

.menubtn{ 
    position: relative;
    margin-top: -35x;
    color: white;
    background-color: #0D0D0D;
    cursor: pointer;
    z-index: 9000;
}

.about{
  width: 100%;
  height: auto;
  object-fit: cover;
}


.btn{
  font-family: "Teko";
  letter-spacing: 2px;
  font-size: 2vw;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: #FC5D35;
  border-radius: 5px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.3s;
  margin-bottom: 50px;
}

.btn:hover{
  background-color: white;
  color: #cc4949;
  border: 2px solid #cc4949;
}