EXHIBITION

.exitext{ 
margin-top: 40px;
padding: 50px 50px 50px 100px;
color: #0d0d0d;

}

.hibimg{
    width: 100%;
    height: 600px;
    object-fit: cover;
}



.buttonalign{
    text-align: center;
}