EXHIBITION
.p{
font-family: teko;

}

.exitext{
max-width: 600px;
text-align: center;
font-family: teko;
font-size: 1.5vw;
margin-left: 350px;
margin-top: 40px;
padding: 50px 100px 50px 100px;
background-color: white;
color: #0d0d0d;
opacity: 80%;

}

.exhibitionimg{
position: relative;
z-index: -6000;
margin-top: -1650px;
}


.falld-content .current{
background-color:#FC5D35;
}
