

.exptext {
  text-align: center;
  margin-top: 30px;
  color: #0d0d0d;
  z-index: 10000px;
}

.eximg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.kidsimg{
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.exstartimg{
  width: 100%;
  height: 600px;
  object-fit: cover;
}