body{
    margin: 0;
    margin-top:-36px;
}


header {
  background-color: #0d0d0d;
}

.logoheading {
  color: white;
  font-size: 26px;
  text-align: center;
  font-family: teko;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logobox {
  width: 70px;
  margin-left: 40px;
  margin-top: -100px;
}

.vrpic {
  float: center;
  z-index: -2000px;
}

/*----------------------------------------------------------------*/

.topnav {
  font-family: "Teko";
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 1px;
}

.topnav a {
  float: left;
  display: block;
  padding: 14px 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #D18DD8;
  color: black;
}

.topnav a.active {
  background-color: #D18DD8;
  color: black;
}

.topnav .icon {
  color: white;
  display: none;
}

.call2 {
    text-align: center;
    margin-top: -150px;
  }
  
  .call2action {
    font-family: "Teko";
    letter-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
    border: none;
    margin-top: -300px;
    cursor: pointer;
    background: #FC5D35;
    border-radius: 5px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
  }
  
  .call2action:hover {
    background-color: white;
    color: #cc4949;
    border: 2px solid #cc4949;
  }
  
