body{
    margin: 0;
  background-color:black;
}

main{
  margin-left: 100px;
  margin-right: 100px;
}

header {
  background-color: black;
}


 h1{
  font-family: teko;
  text-align: center;
  color: white;
  }

  h2{
    font-size: 30px;
    font-family: teko;
    text-align: center;
    color: white;
  }
  
  p{
  font-family: 'Montserrat' ;
  font-size:2vh;
  text-align: center;   
  color: white
  }

.logoheading a {
  color: white;
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logoheading img {
width: 60px;
padding-right:10px;
}



.vrpic{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.topnav {
  font-family: "Teko";
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 1px;
  font-size: 2vh;

}



.topnav a {
  float: left;
  padding: 14px 16px;
  color: white;
  text-align: center;
  text-decoration: none;

}


.topnav a:hover {
  background-color: #D18DD8;
  color: black;
}

.topnav a.active {
  background-color: #D18DD8;
  color: black;
}

.topnav .icon {
  color: white;
  display: none;
}

.containerindex{
    position: relative;
}

.call2action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: "Teko";
    letter-spacing: 2px;
    font-size: 2vh;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #FC5D35;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    
      
}

.call2action:hover {
    background-color: white;
    color: #cc4949;
    border: 2px solid #cc4949;
  }
  
