
p{
  font-family: teko;
}

.visittext{
  font-family: teko;
  text-align: center;
  max-width: 900px;
  font-size: 1vw;
  color: #0d0d0d;
  background-color: white;
  opacity: 80%;
  padding: 30px 70px 30px 70px;
  margin-left: 300px;
  margin-top: -950px;
  z-index: 3px;
}

.visitimg{
position: relative;
object-fit: cover;
z-index: -8000;
}

